<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <div id="root"></div>
        <h1>Login</h1>
        <form method="POST" action="/users/login" id='login-form'>
            Email: <input type="email" name="email" id="email">
            Password: <input type="password" name="password" id="password">
            <button>Submit</button>
        </form>
    </div>

    <script>
        document.getElementById("login-form").onsubmit = function(event){
            

            fetch("http://localhost:3000/users/login" , 
                {
                    method:'POST',
                    headers:{
                        'Content-Type':'application/json'
                    },
                    body:JSON.stringify({
                        email:document.getElementById('email').value,
                        password:document.getElementById('password').value
                    })
                }
                ).then(function(response){
                    if(response.ok){
                        return response.json();
                    }else{
                        throw response.json("Invalid Credentials")
                    }
                }).then(function(data){
                    localStorage.setItem('email' , data.user.email);
                    localStorage.setItem('token' , data.token);
                }).then(function(){
                    return fetch('http://localhost:3000/private', {
                        method:'GET',
                        headers:{
                            Authorization : 'Bearer ' + localStorage.getItem('token')
                        }
                    })
                }).then(function (response){
                    return response.text();
                }).then(function (html){
                    document.getElementById('root').innerHTML = html;
                    document.getElementById('logout-form').onsubmit = function(event){
                        event.preventDefault();
                        fetch("http://localhost:3000/users/logout" , {
                            method:'POST',
                            headers:{
                                Authorization : 'Bearer ' + localStorage.getItem('token')
                            }
                        }).then(function(){
                            localStorage.removeItem('token');
                            localStorage.removeItem('email');
                        })
                        event.preventDefault();
                    }
                    
                }).catch((error)=>{
                    console.log(error)
                })
                event.preventDefault();
        }
    </script>
</body>
</html>